# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [10]:
import pandas as pd
import numpy as np

In [11]:
AnomaliaTerm = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
AnomaliaTermSeries = pd.Series(AnomaliaTerm)
AnomaliaTermSeries

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

In [12]:
AnosAnomalia = [1900,1920,1940,1960,1980,2000,2020]
AnosAnomaliaSeries = pd.Series(AnosAnomalia)
AnosAnomaliaSeries

0    1900
1    1920
2    1940
3    1960
4    1980
5    2000
6    2020
dtype: int64

#### 2) Coloque os anos nos índices conforme a tabela.

In [13]:
AnomaliaTermIndex = pd.Series([-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02],
                                 index=[1900,1920,1940,1960,1980,2000,2020])
AnomaliaTermIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [14]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temperaturasSeries = pd.Series(dic_temperaturas)
temperaturasSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [15]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
arrDataFrame = pd.DataFrame(arr)
arrDataFrame

             0           1           2
0   107.387107  102.251904  102.625784
1   106.279740  102.137927   98.141321
2   101.438161  103.797215   85.781153
3   106.094751  104.747362  106.180426
4   110.188442  101.177787  105.003372
5   101.896265   97.272359  116.550996
6    91.944649   98.771527  117.591718
7   102.358064   95.936335  105.652990
8   106.495386  101.580566   99.755012
9    92.798542   79.389596  112.400008
10   85.376434   91.602148  100.283909
11   98.838093   86.251308  102.095855
12   86.831495   81.200635   99.148060
13   88.057883   91.951177  108.638391
14   91.745045   91.813972  120.530112
15  112.262955  100.780458  103.201897
16  111.380292   94.904295  103.560515
17  105.008814   82.505420   87.579798
18  106.417279   98.730106   99.344431
19  116.376519   93.134099   88.370238

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [16]:
#seu código aqui
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
arrDataFrame = pd.DataFrame(arr,
             columns=['x1','x2','x3'])

arrDataFrame

            x1          x2          x3
0    83.992226   87.047654   97.486122
1    93.328389  111.482648   92.795196
2   107.657158   94.700041   71.601033
3    97.150045  106.503271   86.316355
4    97.901908   97.669349  113.380861
5   107.664324  100.540340  113.048390
6   104.773113  100.149452   96.478641
7   104.398848  108.622928   98.458648
8   115.293651   94.705057  106.653577
9   112.527319   97.045316  106.843960
10  113.050907  116.403788   87.533570
11   96.321249   99.914104  115.869399
12  100.630971   92.123512  106.064630
13   93.882839  103.799578  105.805185
14  114.869225  112.382282  102.726366
15   96.958580   91.793633  123.199031
16  122.305177   84.923339   84.518273
17  110.037958  104.341741   94.117432
18   98.261468   77.781324   99.471422
19  107.460692   84.471931  102.480626

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [17]:
# seu código aqui
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
arrDataFrame = pd.DataFrame(arr,
             columns=['x1','x2','x3'])



arrDataFrame['media'] = (arrDataFrame['x1'] + arrDataFrame['x2'] + arrDataFrame['x3']) / 3
arrDataFrame

            x1          x2          x3       media
0    99.710809  100.599757   90.927798   97.079455
1   105.989661   94.015062   89.155272   96.386665
2   105.288956   96.565427   91.059626   97.638003
3    98.227707  121.710600   97.835261  105.924523
4   102.186390   90.909455   93.799422   95.631756
5    98.539070  106.144395  117.277938  107.320468
6    89.151156  110.386461   81.749505   93.762374
7   104.255218   97.525316   99.314936  100.365157
8   101.245198  103.056318  102.080286  102.127267
9   103.227870   98.325733  111.040029  104.197877
10  107.683240  102.157636  114.417218  108.086031
11   96.020317   83.665726   99.407035   93.031026
12  104.638776  120.294190   87.020361  103.984442
13  111.356032  110.861228   91.305462  104.507574
14  115.820396   98.004972   94.048784  102.624717
15   77.292635  110.782000   93.300468   93.791701
16   97.554910   98.280547   99.127818   98.321092
17   98.785853   94.905528   99.506538   97.732640
18   96.672581   81.969875   94.992578   91.211678
19  100.122213  100.598147  107.473626  102.731329

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [20]:
# seu código aqui
arrDataFrame['log_med'] = np.log(arrDataFrame['media'])

arrDataFrame

            x1          x2          x3       media   log_med
0    99.710809  100.599757   90.927798   97.079455  4.575530
1   105.989661   94.015062   89.155272   96.386665  4.568368
2   105.288956   96.565427   91.059626   97.638003  4.581267
3    98.227707  121.710600   97.835261  105.924523  4.662727
4   102.186390   90.909455   93.799422   95.631756  4.560505
5    98.539070  106.144395  117.277938  107.320468  4.675819
6    89.151156  110.386461   81.749505   93.762374  4.540764
7   104.255218   97.525316   99.314936  100.365157  4.608815
8   101.245198  103.056318  102.080286  102.127267  4.626220
9   103.227870   98.325733  111.040029  104.197877  4.646292
10  107.683240  102.157636  114.417218  108.086031  4.682927
11   96.020317   83.665726   99.407035   93.031026  4.532933
12  104.638776  120.294190   87.020361  103.984442  4.644241
13  111.356032  110.861228   91.305462  104.507574  4.649260
14  115.820396   98.004972   94.048784  102.624717  4.631079
15   77.292635  110.782000   93.300468   93.791701  4.541076
16   97.554910   98.280547   99.127818   98.321092  4.588239
17   98.785853   94.905528   99.506538   97.732640  4.582236
18   96.672581   81.969875   94.992578   91.211678  4.513183
19  100.122213  100.598147  107.473626  102.731329  4.632117